body {
    font-family: system-ui, sans-serif;
    line-height: 1.5;
    font-size: 1.125rem;
    display: block;
}

h2 {
    margin: 20px auto;
}

#mainContent {
    display: flex;
}

#formDiv {
    margin: 0px;
    padding: 0px;
    width: 220px;
    min-width: 220px;
    margin-inline: 20px;
}

p {
    width: 220px;
    min-width: 220px;
    text-align: center;
    color: lightcoral;
    font-weight: bold;
}

form {
    border: 1px solid black;
    border-radius: 15px;
    text-align: center;
}

#tableSpace {
    width: 88%;
    max-height: 500px;
    overflow-x: auto;
}

table {
    border-spacing: 0px;
}

input, label {
    margin: 5px;
}

#regenerateButton {
    margin-bottom: 20px;
}

.formVals {
    width: 30px;
}

td {
    border: 1px solid black;
    padding: 0px 6px;
    text-align: right;
    width: 20px;
}

tr:first-child td, tr td:first-child{
    border: 1px solid white;
    top: 0;
    left: 0;
    position:sticky;
}

tr:first-child td:first-child {
    border: 0px;
}
